div{
    text-align: center;
    padding: 100px;
}
input {
    width: 20%;
    padding: 12px 2px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type=submit]{
    border-radius: 20px;
    width: 10%;
}
