.make-red {
    color: red;
  }
  .make-blue {
    color: blue;
  }
  
  .column-content {
    text-align: center;
    float: left;
    width: 25%;
  }
  
  .btn-big {
    margin-top: 25px;
    font-size: 25px;
    width: 100%;
  }