div{
    text-align: center;
    padding: 60px; 
}
input {
    width: 20%;
    padding: 12px 2px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type=submit]{
    border-radius: 20px;
    width: 10%;
}
@media screen and  (max-width: 800px){
    input[type=submit]{
        width: 20%;
    }
    input {
        width: 40%;
    }
    textarea{
        width: -webkit-fill-available;
    }
}